<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/backoffice/dashboard']" class="brand-link">
    <img src="/assets/img/logo.png" alt="Logo GoDigital" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light">Crear tu horario FCC</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/img/logo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/backoffice/dashboard']" class="d-block">{{userName}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
        <li class="nav-header">Menus</li>
        <li class="nav-item">
          <a [routerLink]="['/backoffice/dashboard']" routerLinkActive="active" class="nav-link">
            <i class="fa fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/backoffice/course']" routerLinkActive="active" class="nav-link">
            <i class="fa fa-book"></i>
            <p>
              Cursos ofertados por semestre
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/backoffice/plan']" routerLinkActive="active" class="nav-link">
            <i class="fa fa-book-open"></i>
            <p>
              Tu plan academico
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/backoffice/organize']" routerLinkActive="active" class="nav-link">
            <i class="fas fa-calendar-alt"></i>
            <p>
              Crea tu horario
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/backoffice/horary']" routerLinkActive="active" class="nav-link">
            <i class="fas fa-calendar-alt"></i>
            <p>
              Consulta tu horario
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>