<div class="register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registro</p>

                <form [formGroup]="formRegister">
                    <div class="form-group">
                        <label>Matricula</label>
                        <input type="text" class="form-control" placeholder="Matricula" formControlName="matricula"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="name" required>
                    </div>
                    <div class="form-group">
                        <label>Carrera</label>
                        <select class="form-control" formControlName="carrera">
                            <option *ngFor="let career of allCareer" [value]="career.acronimo">{{career.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="mail" required>
                    </div>
                    <div>
                        <label>Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-2" [disabled]="formRegister.invalid"
                        (click)="register()">Registrarse</button>
                </form>

                <div class="alert alert-success alert-dismissible mt-2">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-check"></i> Registrado!</h5>
                    Su registro fue exitoso.
                </div>
                <a [routerLink]="['/login']" class="text-center">Ya tienes una cuenta?</a>
            </div>
        </div>
    </div>
</div>