<div class="card card-outline card-primary">
    <div class="card-header">
        <h3 class="card-title">Planificar horario</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="organizeForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Hora inicio</label>
                <input type="time" class="form-control" formControlName="hra_inicio">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Hora fin</label>
                <input type="time" class="form-control" formControlName="hra_final">
            </div>
            <button class="btn btn-primary" (click)="planificar()" [disabled]="organizeForm.invalid">enviar</button>
        </form>
    </div>
</div>

<pre>{{organizeForm.value | json }}</pre>

<full-calendar [options]="calendarOptions"></full-calendar>